.nav-item {
  display: inline;
  float: right;
}

.nav-link {
  display: block;
  padding: 0 px;
  background-color: #333;
  font-variant-caps: all-small-caps;
  letter-spacing: 1px;
  color: white;
}

.navbar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.nav-link:hover {
  background-color: black;
  color: rgb(190, 100, 26);
}

.hero-unit {
  background-image: url("https://images.unsplash.com/photo-1533735380053-eb8d0759b24a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2162&q=80");
  height: 55vh;
  padding: 8%;
}

.hero-unit button {
  font-variant-caps: all-small-caps;
  letter-spacing: 1px;
  color: white;
}

.hero-unit button:hover {
  font-variant-caps: all-small-caps;
  letter-spacing: 1px;
  color: rgb(190, 100, 26);
}

.hero-text {
  position: absolute;
  top: 25%;
}

.hero-text h1 {
  padding-bottom: 5%;
}

.container {
  padding-top: 3%;
}

.port img {
  height: 25vh;
}

.row {
  padding-bottom: 5vh;
}

.card-body {
  padding: 0px;
  /* margin-bottom: 3vh; */
  /* border: none; */
}

.card-img-top {
  margin: 0px;
  padding-bottom: 2vh;
}

div .card-text {
  margin-left: 2vw;
  margin-right: 2vw;
}

.button-sm {
  border: none;
  border-radius: 35px;
  padding-bottom: 30px;
  display: inline;
}

.card span {
  font-variant-caps: all-small-caps;
  letter-spacing: 1px;
  padding-left: 2px;
}

p .card-text {
  text-align: left;
}

.html {
  color: red;
}

.css {
  color: blue;
}

.js {
  color: orange;
}

.card-text:last-child {
  margin: 2vh;
}

.bioImg {
  max-width: 100%;
}

/* .bio h1 {
  display: block;
} */

.col-lg-5 {
  width: 100%;
  display: block;
  margin: auto;
} 